.route-home{
    text-align: center;
    margin: 1em;
}

.products-container{
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.product-container{
    width: 100px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product-title{
    font-size: 1rem;
}