.container-product{
    width: 200px;
    height: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    background-position: center;
}

.list-group-item{
    width: fit-content;
}

.col-lg-3{
    position: sticky;
    height: fit-content;
    top: 0;
    left: 0;
    z-index: 10;
    width: 10px
}
.dropdown{
    display: flex;
    justify-content: center;

}
