/* ====== imagen de portada ===== */

.carousel-home_container {
  height: 300px !important;
}

.carousel-home {
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
}



/* ====== INPUT SEARCH ===== */
.input-search_container {
  display: flex;
  width: 100%;
  gap: 0.5em;
}

/*===== DROPDOWN =====*/
.dropdown-position {
  position: sticky;
  height: fit-content;
  top: 230px;
  z-index: 10;
  width: fit-content !important;
  padding: 0 !important;
}

/*===== CARDS ======*/
.g-4 {
  justify-content: center;
  margin-bottom: 1.5em;
}

.container-card {
  /* width: 300px !important; */
  height: 300px;
}

.card {
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  filter: drop-shadow(5px 5px 5px rgba(5, 7, 12, 0.5));
}

.container-product {
  width: 100%;
  height: 100%;
  display: flex;
  background-position: center;
  transition: 0.1s;
}

.container-product:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

.add-cart {
  background: #4582ec;
  width: fit-content;
  border-radius: 1em;
  padding: 0.2em 1em;
  color: #fff;
  margin-top: 0.5em;
}

.add-cart:hover {
  background: #004f9a;
}

.card-title:hover {
  color: #4582ec;
}

.card-body {
  width: 100%;
}
