/* .navbar{
    position: sticky !important;
    top: 0;
    z-index: 10;
   
    height: fit-content !important;
} */

.nav-link{
    width: fit-content;
}

.logout:hover{
    color: #B44C4F !important;
}





