.general-container {
}
img{
    width: 10px;
}
.col {
  margin: 1rem auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  row-gap: 3rem;
}

.principal-img-container {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  position: relative;margin: 0 auto;
  border: 2px solid black;
}
.principal-img {
    width: 40%; 
    position: relative;
    right: -2rem;
}

.img-options-list {
    /* background-color: aqua; */
display: flex;
align-items: center;
flex-wrap: nowrap;
  width: 25%;
  height: 100%;
  list-style: none;
  height: 100%;
  position: absolute;
  left: 0rem;
  top: -1rem;
  margin: 1rem auto;
  box-sizing: border-box;
  border-right: 2px solid black;
}
.img-options-container {
    /* background-color: aquamarine; */
    width: 80%;
    height: 30%;
    padding: 2px;
    box-sizing: content-box;
    margin-top: 0.5rem;
    overflow: hidden;
}
.img-options {
  width: 100px;
  height: 120px;
}

.show-info-details {
  border-radius: 1rem;
  height: 2rem;
  width: 50%;
  border: none;
} 
.description{
    text-align: left;
    padding: .5rem;
}