.product-name {
  margin: 2rem auto 2rem;
  width: 100%;
  text-align: center;
  color: black;
}
.carousel-container{

  margin: 0 auto;
}
.carousel-item{
  /* margin: 1.5rem 6rem; */
}
.carousel-item{
  object-fit: contain;
  
}
.show-info-details {
  margin-top: 2em;
  height: 2rem;
  width: 50%;
  border: none;
  border-radius: 1rem;
  background-color: #001F76;
  color: white;
  
}
.description-container{
  background-color: white;
  filter: drop-shadow(5px 5px 5px rgba(5, 7, 12, 1));
  text-align: center;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
}
