.show-info-details {
  
  height: 2rem;
  width: 50%;
  border: none;
} 
.principal-img{
    display: flex;
    justify-content: center;
    align-content: center;
}
.principal-img{
    padding: 1rem;
    margin-top: 1rem;
    --bs-gutter-y:2rem;
    background-color:white;
    border: 1rem;
}
.related-items{
    background-color: white;
    display: flex;
    justify-content: center;
   align-items: center;
   align-content: center;
   height: 100px;
   border-radius: 1rem;
   flex-wrap: nowrap;
   column-gap: 3rem;
   margin: 0 auto;
   padding: 0;
  
}
.list-group{
background-color: white;
    width: 250px;
    margin: 1rem auto;
   
  
}
.list-group-text{
    text-decoration: none;
    color: black;
}
.img-fluid{
    margin-right: 5px;
}
.products-related-title{
    margin: .5rem auto;
    width: 50%;
    height: 1rem;
  
}
.col-lg-2{
margin-bottom: 1rem;
}
.details-col{
    background-color:white;
}
